<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!-- Category表的真身 -->

<mapper namespace="com.mytest.mapper.CategoryMapper">

<!-- id为方法名  resultType为返回类型(要精确到位) -->

    <!-- 无传入参数 -->
    <select id="findAllCategory" resultType="com.mytest.Databases.Category">
        select * from category
    </select>

    <!-- 单个参数传递 -->
    <select id="findCategoryByCateName" resultType="com.mytest.Databases.Category">
        select * from category
        <!-- if语句test里面写条件 -->
        <!-- ${}不转换就放入容易被sql注入 -->
        <where>
            <if test="cateName!=null and cateName.trim()!=''">
                and cate_name=#{cateName}
            </if>
        </where>
    </select>
    <!-- 测试方法 -->
    <!--<select id="test" resultType="com.mytest.Databases.Category">-->
        <!--select * from-->
        <!--<if test="datebase!=null and datebase.trim()!=''" >-->
            <!--#{datebase}-->
        <!--</if>-->
    <!--</select>-->

    <!-- 多参数传递 -->
    <select id="findCategoryBylikeCateNameAndCateId" resultType="com.mytest.Databases.Category">
        select * from category
        <where>
            <if test="cateName!=null and cateName.trim()!=''">
                and cate_name like #{cateName}
            </if>
            <if test="cateId!=null and cateId.trim()!=''">
                and cate_id=#{cateId}
            </if>
        </where>
    </select>


</mapper>