<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 文章表的真身 -->

<mapper namespace="com.mytest.mapper.WorkMapper" >
    <!-- 表连接查询 需要使用resultMap来合并各个表的查询结果映射到一个结果集里 -->
    <select id="findAll" resultMap="findAll1">
        SELECT * FROM works w
        left join users u on w.user_id=u.user_id
        left join comment c on w.work_id=c.work_id
    </select>

    <!-- column 数据库里的列  property java类的属性 -->

    <resultMap id="findAll1" type="com.mytest.VO.WorksVO" autoMapping="true">
        <id column="work_id" property="workId"/>

        <!-- 如果是一个类就是association->javaType,如果是list就是collection->ofType -->
        <association property="user" javaType="com.mytest.Databases.Users" column="user_id" autoMapping="true">
            <id column="user_id" property="userId"/>
        </association>
        <collection property="comment" ofType="com.mytest.Databases.Comment" column="comment_id" autoMapping="true">
            <id column="comment_id" property="commentId"/>
        </collection>
    </resultMap>

    <!-- 分部查询 -->
    <select id="findOne" resultMap="findOne1">
        select * from works where work_id=#{wordId}
    </select>

    <!-- association与collection 里的columu为两表的链接的列的列明 -->

    <resultMap id="findOne1" type="com.mytest.VO.WorksVO" autoMapping="true">
        <id column="work_id" property="workId"/>
        <association property="user" column="user_id" select="findOneByUserId" autoMapping="true" />
        <!--<association property="user" column="user_id" select="findOneByUserId" autoMapping="true">-->
            <!--<id column="user_id" property="userId"/>-->
        <!--</association>-->
        <collection property="comment" column="work_id" select="findAllByWorkId" autoMapping="true" />
        <!--<collection property="comment" ofType="com.mytest.Databases.Comment" column="work_id" select="findAllByWorkId" autoMapping="true">-->
            <!--<id column="work_id" property="workId"/>-->
        <!--</collection>-->
    </resultMap>

    <select id="findAllByWorkId" resultType="com.mytest.Databases.Comment">
        select * from comment where work_id=#{value}
    </select>

    <select id="findOneByUserId" resultType="com.mytest.Databases.Users">
        select * from users where user_id=#{value}
    </select>
</mapper>